*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.mylogo img{
    width: 100px;
}
.navbar-nav{
    padding-left: 20px;
}
.navbar-nav a{
    color: black!important;
    font-size: 18px;
}
.mybtn{
    background-color: #00687a;
    border-color: #00687a;
    border-radius: 20px;
    width: 100px;
    color: white;
}
.myheader{
 
    padding-top: 50px;
    background:linear-gradient(rgba(0,56,148,0.5), rgba(0,56,148,0.5)),url('../../public/Images/podio-hp-hero.jpeg');
    background-size: cover;
    height: 700px;
}
.myheader h1{
    padding-top: 100px;
    font-size: 75px;
}
.myheader p{
    font-size: 20px;
}
.mysearch input{ 
    width: 400px;
    outline: none;
    border: 0;
     line-height: 50px;
}
.serachbtn{
    width: 100px;
    line-height: 50px;
    background-color: #00687a;
    color: white;
    border: 0;
}
.bg-api{
    background-color: lightgray;
}
.collbrate img{
    width: 70%;
}
.mychance{
    background-color: rgba(36,113,184,1);
}
.chance{
    background-image: url(../../public/chancelight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    overflow: hidden;
    width: 100%;
    /* text-align: center; */
    position: relative;
}
.inchance{
    position: absolute;
    left: 700px;
    top: 100px;
}
.inchance h2{
    font-size: 60px;
}
.inchance a{
    color: white;
}
.dependCont .link a{
    color: #00687a;
    font-weight: 500
}
.dependCont .link a:hover{
color: #000;
}
.x img{
    width: 50px;
    height: 50px;
}
