#input_name {
    margin: 10px 10px;
    outline: none;
  }
  .input_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .maindiv {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(219, 218, 218);
  }
  h1 {
    text-align: center;
    line-height: 5px;
  }